# Ignore everything
*

# Except the following:
!.gitignore
!.map-client-workflow.rdf
!GeometricFit.conf
!Muxer.conf
!README.rst
!ViewCreation.conf
!map-client-workflow.proj
!DataEmbedder.conf
!MBFXMLFile.conf
!OrganScaffold.conf
!ThumbnailExport.conf
!WebGLExport.conf
!mbfxml2exconverter.conf
!ExportThumbnail.conf
!ExportWebGL.conf
!ScaffoldAnnotations.conf

